{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-3 float-right ">
<div class="card card-cascade my-4">
        <h5 class="card-header view view-cascade">About Admin</h5>
    <div class="card-body">
        <p class="card-text"> This is just a part of the django learning. You can learn Django and ask questions about it here</p>
        <a href="https://github.com/vijay-krishnamoorthy/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}